{% extends "layouts/signed_out.html" %}
{% block title %}Đặt lại mật khẩu{% endblock %}
{% block content %}
<div class="fixed-width-page">
  <div class="bg-white tiled">
    {% if submitted %}
      <div>
        Nếu địa chỉ email này có tài khoản trên hệ thống, bạn sẽ nhận được email từ chúng tôi trong giây lát.
      </div>
    {% else %}
      <form role="form" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
          <label for="email">Nhập địa chỉ email bạn dùng cho tài khoản:</label>
          <input type="email" class="form-control" name="email" value="{{email}}">
        </div>
        <button type="submit" class="btn btn-primary btn-block m-t-25">Đặt lại mật khẩu</button>
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
